<?xml version='1.0' encoding='UTF-8'?>
<templates>
	<using package='maya'/>
	<using package='std'/>
	<template name='zombie'>
		<attribute name='jnt_c_root_rotateX' type='maya.doubleAngle'>
			<label>Rotate X</label>
		</attribute>
		<attribute name='jnt_c_root_rotateY' type='maya.doubleAngle'>
			<label>Rotate Y</label>
		</attribute>
		<attribute name='jnt_c_root_rotateZ' type='maya.doubleAngle'>
			<label>Rotate Z</label>
		</attribute>
		<attribute name='jnt_c_root_rotate' type='maya.double3'>
			<label>Rotate</label>
		</attribute>
		<attribute name='visibility' type='maya.bool'>
			<label>Visibility</label>
		</attribute>
		<attribute name='jnt_c_root_translateX' type='maya.doubleLinear'>
			<label>Translate X</label>
		</attribute>
		<attribute name='jnt_c_root_translateY' type='maya.doubleLinear'>
			<label>Translate Y</label>
		</attribute>
		<attribute name='jnt_c_root_translateZ' type='maya.doubleLinear'>
			<label>Translate Z</label>
		</attribute>
		<attribute name='jnt_c_root_translate' type='maya.double3'>
			<label>Translate</label>
		</attribute>
		<attribute name='jnt_c_root_scaleX' type='maya.double'>
			<label>Scale X</label>
		</attribute>
		<attribute name='jnt_c_root_scaleY' type='maya.double'>
			<label>Scale Y</label>
		</attribute>
		<attribute name='jnt_c_root_scaleZ' type='maya.double'>
			<label>Scale Z</label>
		</attribute>
		<attribute name='jnt_c_root_scale' type='maya.double3'>
			<label>Scale</label>
		</attribute>
		<attribute name='jnt_spineA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineA01_rotate' type='maya.double3'>
			<label>Jnt Spine A01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineB01_rotate' type='maya.double3'>
			<label>Jnt Spine B01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineC01_rotate' type='maya.double3'>
			<label>Jnt Spine C01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineD01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine D01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineD01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine D01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineD01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine D01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineD01_rotate' type='maya.double3'>
			<label>Jnt Spine D01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineE01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine E01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineE01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine E01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineE01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine E01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineE01_rotate' type='maya.double3'>
			<label>Jnt Spine E01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineF01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine F01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineF01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine F01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineF01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine F01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineF01_rotate' type='maya.double3'>
			<label>Jnt Spine F01 Rotate</label>
		</attribute>
		<attribute name='jnt_spineG01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Spine G01 Rotate X</label>
		</attribute>
		<attribute name='jnt_spineG01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Spine G01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_spineG01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Spine G01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_spineG01_rotate' type='maya.double3'>
			<label>Jnt Spine G01 Rotate</label>
		</attribute>
		<attribute name='jnt_neckBase01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Neck Base 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_neckBase01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Neck Base 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_neckBase01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Neck Base 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_neckBase01_rotate' type='maya.double3'>
			<label>Jnt Neck Base 01 Rotate</label>
		</attribute>
		<attribute name='jnt_neck01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Neck 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_neck01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Neck 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_neck01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Neck 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_neck01_rotate' type='maya.double3'>
			<label>Jnt Neck 01 Rotate</label>
		</attribute>
		<attribute name='jnt_head01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Head 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_head01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Head 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_head01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Head 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_head01_rotate' type='maya.double3'>
			<label>Jnt Head 01 Rotate</label>
		</attribute>
		<attribute name='jnt_headTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Head Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_headTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Head Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_headTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Head Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_headTip01_rotate' type='maya.double3'>
			<label>Jnt Head Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_jaw01_rotateX' type='maya.doubleAngle'>
			<label>Jnt Jaw 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_jaw01_rotateY' type='maya.doubleAngle'>
			<label>Jnt Jaw 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_jaw01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt Jaw 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_jaw01_rotate' type='maya.double3'>
			<label>Jnt Jaw 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_clavicle01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Clavicle 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_clavicle01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Clavicle 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_clavicle01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Clavicle 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_clavicle01_rotate' type='maya.double3'>
			<label>Jnt L Clavicle 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_rotate' type='maya.double3'>
			<label>Jnt L Shoulder 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_1_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 1 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_1_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 1 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_1_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 1 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_1_rotate' type='maya.double3'>
			<label>Jnt L Shoulder 01 Split 1 Rotate</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_2_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 2 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_2_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 2 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_2_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Shoulder 01 Split 2 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_shoulder01_Split_2_rotate' type='maya.double3'>
			<label>Jnt L Shoulder 01 Split 2 Rotate</label>
		</attribute>
		<attribute name='jnt_l_elbow01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_elbow01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_elbow01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_elbow01_rotate' type='maya.double3'>
			<label>Jnt L Elbow 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_1_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 1 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_1_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 1 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_1_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 1 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_1_rotate' type='maya.double3'>
			<label>Jnt L Elbow 01 Split 1 Rotate</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_2_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 2 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_2_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 2 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_2_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Elbow 01 Split 2 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_elbow01_Split_2_rotate' type='maya.double3'>
			<label>Jnt L Elbow 01 Split 2 Rotate</label>
		</attribute>
		<attribute name='jnt_l_wrist01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Wrist 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_wrist01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Wrist 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_wrist01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Wrist 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_wrist01_rotate' type='maya.double3'>
			<label>Jnt L Wrist 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_palm01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Palm 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_palm01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Palm 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_palm01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Palm 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_palm01_rotate' type='maya.double3'>
			<label>Jnt L Palm 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_middleA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Middle A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_middleA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Middle A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_middleA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Middle A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_middleA01_rotate' type='maya.double3'>
			<label>Jnt L Middle A01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_middleB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Middle B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_middleB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Middle B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_middleB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Middle B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_middleB01_rotate' type='maya.double3'>
			<label>Jnt L Middle B01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_middleC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Middle C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_middleC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Middle C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_middleC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Middle C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_middleC01_rotate' type='maya.double3'>
			<label>Jnt L Middle C01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_middleTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Middle Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_middleTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Middle Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_middleTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Middle Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_middleTip01_rotate' type='maya.double3'>
			<label>Jnt L Middle Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ringA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ring A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ringA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ring A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ringA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ring A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ringA01_rotate' type='maya.double3'>
			<label>Jnt L Ring A01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ringB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ring B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ringB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ring B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ringB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ring B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ringB01_rotate' type='maya.double3'>
			<label>Jnt L Ring B01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ringC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ring C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ringC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ring C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ringC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ring C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ringC01_rotate' type='maya.double3'>
			<label>Jnt L Ring C01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ringTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ring Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ringTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ring Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ringTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ring Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ringTip01_rotate' type='maya.double3'>
			<label>Jnt L Ring Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_pinkyA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Pinky A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_pinkyA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Pinky A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_pinkyA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Pinky A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_pinkyA01_rotate' type='maya.double3'>
			<label>Jnt L Pinky A01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_pinkyB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Pinky B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_pinkyB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Pinky B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_pinkyB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Pinky B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_pinkyB01_rotate' type='maya.double3'>
			<label>Jnt L Pinky B01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_pinkyC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Pinky C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_pinkyC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Pinky C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_pinkyC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Pinky C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_pinkyC01_rotate' type='maya.double3'>
			<label>Jnt L Pinky C01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_pinkyTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Pinky Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_pinkyTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Pinky Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_pinkyTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Pinky Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_pinkyTip01_rotate' type='maya.double3'>
			<label>Jnt L Pinky Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_indexA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Index A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_indexA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Index A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_indexA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Index A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_indexA01_rotate' type='maya.double3'>
			<label>Jnt L Index A01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_indexB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Index B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_indexB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Index B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_indexB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Index B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_indexB01_rotate' type='maya.double3'>
			<label>Jnt L Index B01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_indexC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Index C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_indexC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Index C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_indexC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Index C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_indexC01_rotate' type='maya.double3'>
			<label>Jnt L Index C01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_indexTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Index Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_indexTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Index Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_indexTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Index Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_indexTip01_rotate' type='maya.double3'>
			<label>Jnt L Index Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_thumbA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Thumb A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_thumbA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Thumb A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_thumbA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Thumb A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_thumbA01_rotate' type='maya.double3'>
			<label>Jnt L Thumb A01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_thumbB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Thumb B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_thumbB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Thumb B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_thumbB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Thumb B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_thumbB01_rotate' type='maya.double3'>
			<label>Jnt L Thumb B01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_thumbC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Thumb C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_thumbC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Thumb C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_thumbC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Thumb C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_thumbC01_rotate' type='maya.double3'>
			<label>Jnt L Thumb C01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_thumbTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Thumb Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_thumbTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Thumb Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_thumbTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Thumb Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_thumbTip01_rotate' type='maya.double3'>
			<label>Jnt L Thumb Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_clavicle01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Clavicle 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_clavicle01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Clavicle 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_clavicle01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Clavicle 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_clavicle01_rotate' type='maya.double3'>
			<label>Jnt R Clavicle 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_rotate' type='maya.double3'>
			<label>Jnt R Shoulder 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_1_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 1 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_1_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 1 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_1_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 1 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_1_rotate' type='maya.double3'>
			<label>Jnt R Shoulder 01 Split 1 Rotate</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_2_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 2 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_2_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 2 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_2_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Shoulder 01 Split 2 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_shoulder01_Split_2_rotate' type='maya.double3'>
			<label>Jnt R Shoulder 01 Split 2 Rotate</label>
		</attribute>
		<attribute name='jnt_r_elbow01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_elbow01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_elbow01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_elbow01_rotate' type='maya.double3'>
			<label>Jnt R Elbow 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_1_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 1 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_1_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 1 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_1_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 1 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_1_rotate' type='maya.double3'>
			<label>Jnt R Elbow 01 Split 1 Rotate</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_2_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 2 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_2_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 2 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_2_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Elbow 01 Split 2 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_elbow01_Split_2_rotate' type='maya.double3'>
			<label>Jnt R Elbow 01 Split 2 Rotate</label>
		</attribute>
		<attribute name='jnt_r_wrist01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Wrist 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_wrist01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Wrist 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_wrist01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Wrist 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_wrist01_rotate' type='maya.double3'>
			<label>Jnt R Wrist 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_palm01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Palm 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_palm01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Palm 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_palm01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Palm 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_palm01_rotate' type='maya.double3'>
			<label>Jnt R Palm 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_middleA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Middle A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_middleA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Middle A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_middleA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Middle A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_middleA01_rotate' type='maya.double3'>
			<label>Jnt R Middle A01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_middleB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Middle B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_middleB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Middle B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_middleB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Middle B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_middleB01_rotate' type='maya.double3'>
			<label>Jnt R Middle B01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_middleC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Middle C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_middleC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Middle C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_middleC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Middle C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_middleC01_rotate' type='maya.double3'>
			<label>Jnt R Middle C01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_middleTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Middle Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_middleTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Middle Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_middleTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Middle Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_middleTip01_rotate' type='maya.double3'>
			<label>Jnt R Middle Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ringA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ring A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ringA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ring A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ringA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ring A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ringA01_rotate' type='maya.double3'>
			<label>Jnt R Ring A01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ringB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ring B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ringB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ring B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ringB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ring B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ringB01_rotate' type='maya.double3'>
			<label>Jnt R Ring B01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ringC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ring C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ringC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ring C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ringC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ring C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ringC01_rotate' type='maya.double3'>
			<label>Jnt R Ring C01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ringTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ring Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ringTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ring Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ringTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ring Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ringTip01_rotate' type='maya.double3'>
			<label>Jnt R Ring Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_pinkyA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Pinky A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_pinkyA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Pinky A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_pinkyA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Pinky A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_pinkyA01_rotate' type='maya.double3'>
			<label>Jnt R Pinky A01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_pinkyB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Pinky B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_pinkyB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Pinky B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_pinkyB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Pinky B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_pinkyB01_rotate' type='maya.double3'>
			<label>Jnt R Pinky B01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_pinkyC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Pinky C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_pinkyC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Pinky C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_pinkyC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Pinky C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_pinkyC01_rotate' type='maya.double3'>
			<label>Jnt R Pinky C01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_pinkyTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Pinky Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_pinkyTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Pinky Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_pinkyTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Pinky Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_pinkyTip01_rotate' type='maya.double3'>
			<label>Jnt R Pinky Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_indexA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Index A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_indexA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Index A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_indexA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Index A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_indexA01_rotate' type='maya.double3'>
			<label>Jnt R Index A01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_indexB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Index B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_indexB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Index B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_indexB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Index B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_indexB01_rotate' type='maya.double3'>
			<label>Jnt R Index B01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_indexC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Index C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_indexC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Index C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_indexC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Index C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_indexC01_rotate' type='maya.double3'>
			<label>Jnt R Index C01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_indexTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Index Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_indexTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Index Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_indexTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Index Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_indexTip01_rotate' type='maya.double3'>
			<label>Jnt R Index Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_thumbA01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Thumb A01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_thumbA01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Thumb A01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_thumbA01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Thumb A01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_thumbA01_rotate' type='maya.double3'>
			<label>Jnt R Thumb A01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_thumbB01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Thumb B01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_thumbB01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Thumb B01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_thumbB01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Thumb B01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_thumbB01_rotate' type='maya.double3'>
			<label>Jnt R Thumb B01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_thumbC01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Thumb C01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_thumbC01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Thumb C01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_thumbC01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Thumb C01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_thumbC01_rotate' type='maya.double3'>
			<label>Jnt R Thumb C01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_thumbTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Thumb Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_thumbTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Thumb Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_thumbTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Thumb Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_thumbTip01_rotate' type='maya.double3'>
			<label>Jnt R Thumb Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_hip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Hip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_hip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Hip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_hip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Hip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_hip01_rotate' type='maya.double3'>
			<label>Jnt L Hip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_knee01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Knee 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_knee01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Knee 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_knee01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Knee 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_knee01_rotate' type='maya.double3'>
			<label>Jnt L Knee 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ankle01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ankle 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ankle01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ankle 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ankle01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ankle 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ankle01_rotate' type='maya.double3'>
			<label>Jnt L Ankle 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_ball01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Ball 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_ball01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Ball 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_ball01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Ball 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_ball01_rotate' type='maya.double3'>
			<label>Jnt L Ball 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_toe01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Toe 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_toe01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Toe 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_toe01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Toe 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_toe01_rotate' type='maya.double3'>
			<label>Jnt L Toe 01 Rotate</label>
		</attribute>
		<attribute name='jnt_l_toeTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt L Toe Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_l_toeTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt L Toe Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_l_toeTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt L Toe Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_l_toeTip01_rotate' type='maya.double3'>
			<label>Jnt L Toe Tip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_hip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Hip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_hip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Hip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_hip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Hip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_hip01_rotate' type='maya.double3'>
			<label>Jnt R Hip 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_knee01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Knee 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_knee01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Knee 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_knee01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Knee 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_knee01_rotate' type='maya.double3'>
			<label>Jnt R Knee 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ankle01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ankle 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ankle01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ankle 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ankle01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ankle 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ankle01_rotate' type='maya.double3'>
			<label>Jnt R Ankle 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_ball01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Ball 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_ball01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Ball 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_ball01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Ball 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_ball01_rotate' type='maya.double3'>
			<label>Jnt R Ball 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_toe01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Toe 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_toe01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Toe 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_toe01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Toe 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_toe01_rotate' type='maya.double3'>
			<label>Jnt R Toe 01 Rotate</label>
		</attribute>
		<attribute name='jnt_r_toeTip01_rotateX' type='maya.doubleAngle'>
			<label>Jnt R Toe Tip 01 Rotate X</label>
		</attribute>
		<attribute name='jnt_r_toeTip01_rotateY' type='maya.doubleAngle'>
			<label>Jnt R Toe Tip 01 Rotate Y</label>
		</attribute>
		<attribute name='jnt_r_toeTip01_rotateZ' type='maya.doubleAngle'>
			<label>Jnt R Toe Tip 01 Rotate Z</label>
		</attribute>
		<attribute name='jnt_r_toeTip01_rotate' type='maya.double3'>
			<label>Jnt R Toe Tip 01 Rotate</label>
		</attribute>
		<attribute name='RootTransform' type='std.RootTransform'>
			<label>Root Transform</label>
		</attribute>
	</template>
	<view name='Set_Dresser' template='zombie'>
		<property name='jnt_c_root_translate'/>
		<property name='jnt_c_root_rotate'/>
		<property name='jnt_c_root_scale'/>
		<property name='visibility'/>
	</view>
	<view name='animator' template='zombie'>
		<property name='jnt_c_root_rotate'/>
		<property name='visibility'/>
		<property name='jnt_c_root_translate'/>
		<property name='jnt_c_root_scale'/>
		<property name='jnt_spineA01_rotate'/>
		<property name='jnt_spineB01_rotate'/>
		<property name='jnt_spineC01_rotate'/>
		<property name='jnt_spineD01_rotate'/>
		<property name='jnt_spineE01_rotate'/>
		<property name='jnt_spineF01_rotate'/>
		<property name='jnt_spineG01_rotate'/>
		<property name='jnt_neckBase01_rotate'/>
		<property name='jnt_neck01_rotate'/>
		<property name='jnt_head01_rotate'/>
		<property name='jnt_headTip01_rotate'/>
		<property name='jnt_jaw01_rotate'/>
		<property name='jnt_l_clavicle01_rotate'/>
		<property name='jnt_l_shoulder01_rotate'/>
		<property name='jnt_l_shoulder01_Split_1_rotate'/>
		<property name='jnt_l_shoulder01_Split_2_rotate'/>
		<property name='jnt_l_elbow01_rotate'/>
		<property name='jnt_l_elbow01_Split_1_rotate'/>
		<property name='jnt_l_elbow01_Split_2_rotate'/>
		<property name='jnt_l_wrist01_rotate'/>
		<property name='jnt_l_palm01_rotate'/>
		<property name='jnt_l_middleA01_rotate'/>
		<property name='jnt_l_middleB01_rotate'/>
		<property name='jnt_l_middleC01_rotate'/>
		<property name='jnt_l_middleTip01_rotate'/>
		<property name='jnt_l_ringA01_rotate'/>
		<property name='jnt_l_ringB01_rotate'/>
		<property name='jnt_l_ringC01_rotate'/>
		<property name='jnt_l_ringTip01_rotate'/>
		<property name='jnt_l_pinkyA01_rotate'/>
		<property name='jnt_l_pinkyB01_rotate'/>
		<property name='jnt_l_pinkyC01_rotate'/>
		<property name='jnt_l_pinkyTip01_rotate'/>
		<property name='jnt_l_indexA01_rotate'/>
		<property name='jnt_l_indexB01_rotate'/>
		<property name='jnt_l_indexC01_rotate'/>
		<property name='jnt_l_indexTip01_rotate'/>
		<property name='jnt_l_thumbA01_rotate'/>
		<property name='jnt_l_thumbB01_rotate'/>
		<property name='jnt_l_thumbC01_rotate'/>
		<property name='jnt_l_thumbTip01_rotate'/>
		<property name='jnt_r_clavicle01_rotate'/>
		<property name='jnt_r_shoulder01_rotate'/>
		<property name='jnt_r_shoulder01_Split_1_rotate'/>
		<property name='jnt_r_shoulder01_Split_2_rotate'/>
		<property name='jnt_r_elbow01_rotate'/>
		<property name='jnt_r_elbow01_Split_1_rotate'/>
		<property name='jnt_r_elbow01_Split_2_rotate'/>
		<property name='jnt_r_wrist01_rotate'/>
		<property name='jnt_r_palm01_rotate'/>
		<property name='jnt_r_middleA01_rotate'/>
		<property name='jnt_r_middleB01_rotate'/>
		<property name='jnt_r_middleC01_rotate'/>
		<property name='jnt_r_middleTip01_rotate'/>
		<property name='jnt_r_ringA01_rotate'/>
		<property name='jnt_r_ringB01_rotate'/>
		<property name='jnt_r_ringC01_rotate'/>
		<property name='jnt_r_ringTip01_rotate'/>
		<property name='jnt_r_pinkyA01_rotate'/>
		<property name='jnt_r_pinkyB01_rotate'/>
		<property name='jnt_r_pinkyC01_rotate'/>
		<property name='jnt_r_pinkyTip01_rotate'/>
		<property name='jnt_r_indexA01_rotate'/>
		<property name='jnt_r_indexB01_rotate'/>
		<property name='jnt_r_indexC01_rotate'/>
		<property name='jnt_r_indexTip01_rotate'/>
		<property name='jnt_r_thumbA01_rotate'/>
		<property name='jnt_r_thumbB01_rotate'/>
		<property name='jnt_r_thumbC01_rotate'/>
		<property name='jnt_r_thumbTip01_rotate'/>
		<property name='jnt_l_hip01_rotate'/>
		<property name='jnt_l_knee01_rotate'/>
		<property name='jnt_l_ankle01_rotate'/>
		<property name='jnt_l_ball01_rotate'/>
		<property name='jnt_l_toe01_rotate'/>
		<property name='jnt_l_toeTip01_rotate'/>
		<property name='jnt_r_hip01_rotate'/>
		<property name='jnt_r_knee01_rotate'/>
		<property name='jnt_r_ankle01_rotate'/>
		<property name='jnt_r_ball01_rotate'/>
		<property name='jnt_r_toe01_rotate'/>
		<property name='jnt_r_toeTip01_rotate'/>
	</view>
</templates>